
body {
    margin: 0;
    padding: 0;
    /*background-color: aqua;*/
    background-color: white;
    /*background-color: #9c9f84;*/
    font-family: Verdana, Helvetica, Arial, Geneva, Arial Black;
    font-size: 14px;
    /*position: relative;*/
}

#header {
    background-color: blue;
    /*background-color: #000069;*/
    height: 100px;
    margin: 5px;
    border-radius: 10px;
}

#header h1 {
    display: inline-block;
    color: white;
    margin:0 15px;
    padding: 0 60px 0 5px;
    height: 98px;
    line-height: 98px;
    font-size: 350%;
    /*border: 1px solid green;*/
    background-color: blue;
    /*background-color: #000069;*/
}

.first-letter {
    font-size: 1.5em;
}

#extention {
    font-size: 0.75em;
}

.signin_signup {
    width: 33.3%;
    /*background-color: red;*/
    margin: 3% auto 20px auto;
    /*text-align: center;*/
    /*border: 1px solid red;*/
    border-radius: 15px;

}

.signin, .signup {
    margin: 0px auto 5px auto;
}

.signin p, .signup p {
    margin: 0px;
    text-align: center;
    color: blue;
    font-size: 2.5em;
}

.signin p span, .signup p span {
    font-size: 0.5em;
}

.signin p a, .signup p a {
    color: blue;
}


.signin p a:hover, .signup p a:hover {
    color: red;
}

#footer {
    font-size: 85%;
    background-color: blue;
    margin:10px 0.5% 0 0.5%;
    border-radius: 10px;
    height: 40px;
    width:99%;
    clear: both;
    /*position: absolute;*/
    /*bottom: 0px;*/
    color: white;
    text-align: center;
    display: block;

}
/*.footer_less {*/
    /*position: absolute;*/
    /*bottom: 0px;*/
/*}*/

#footer ul {
    padding: 5px;
    list-style-type: none;
    text-align: center;

    /*color: white;*/
}

#footer ul li {
    display: inline;

}

#footer ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    padding: .1em 1em;
    border-radius: 5px;
    border:1px solid white;

}

#content {
    /*border neccessary to keep the footer in place*/
    border: 1px solid white;
    /*min-height: 600px;*/
}

#footer ul li a:hover {
    background-color: white;
    color: blue;
}

#signin_form, #signup_form {
    color: black;
    display: table;
    padding: 0px 15px 0px 15px;
    /*background-color: #2c8f77;*/
    /*background-color: blue;*/
    /*border-radius: 10px;*/
    /*border: solid 2px black;*/
    margin: 0px auto;
}

.row {
    display: table-row;
}

.row label, .row input {
    display: table-cell;
    padding: 2px;
}

.row label {
    text-align: right;
}

/*=============================================================================*/

.error {
    margin: 15px auto 0 auto;
    padding: 0px;
    color: red;
    text-align: center;
    font-style: italic;
    font-size: 1.1em;
}

.hidden {
    display: none;
}

#submit {
    float: right;
    background-color: white;
    color: blue;

}

#submit_new_user {
    float: right;
    background-color: white;
    color: blue;

}

#forgotpassword {
    text-align: center;
    margin-bottom: 15px;
}

#forgotpassword a {
    text-decoration: none;
}

#forgotpassword a:hover {
    text-decoration: underline;
}

/*==================================================================================*/

#header div {
    color: white;
    display: inline;
    font-size: 1.2em;


}

#header div span {
    text-transform: uppercase;

}
#sidebar {
    margin:20px 0px;
    width: 10%;
    padding: 5px;
    float: left;
    clear: left;
    /*border: 1px solid red;*/

}

#sidebar ul {
    list-style-type: none;
    text-align: center;
    margin: 5px 0px;
    padding: 0px;
    /*border: 1px solid green;*/

}
#sidebar ul li {

    /*border: 1px solid blue;*/

}

#sidebar ul li a {
    text-decoration: none;
    color: white;
    background-color: blue;
    font-size: 1.2em;
    display: block;
    padding: 6px;
    margin: 10px 0px;
    border: 1px solid blue;
    border-radius: 5px;
}

#sidebar ul li a:hover {
    color: blue;
    background-color: white;
    /*border-right: none;*/
    /*border-bottom-right-radius: 0px;*/
    /*border-top-right-radius: 0px;*/
}

#logout {
    background-color: red !important;
    border-color: red !important;
}

#logout:hover {
    background-color: white !important;
    color: red !important;
}

.splitter {
    border: 2px solid blue;
    margin:13px 0px;

}
/*============================================ middle content =====================================*/
.selected {
    color: blue !important;
    background-color: white !important;
    /*border-right: none !important;*/
}
.middle_content {
    border: 1px solid white;
    text-align: center;
    margin: 5px 26% 5px 11.5%;
    padding-top: 15px;
    min-height: 500px;
    width: 62.5%;
}

#menu {
    /*border: 1px solid black;*/
    padding: 5px;
}

.caterer {
    border: 1px solid white;
    font-size: 1.15em;
    margin: 0px 15%;
    padding:3px 0px;
    background-color: blue;
    border-radius: 5px;
    color: white;
}
.caterer:hover {
    background-color: #000069;
}
.caterer_selected {
    background-color: #000069 !important;
}

.caterer span {
    margin-left: 5px;
    float: left;
}
.caterer img {
    display: inline;
    height:12px;
    width: 12px;
}

.caterer_menu p {
    margin: 0px 25%;
    padding: 2px 0px;
    color: #4b4b4b;
    font-size: 1.05em;
    border-top:1px solid rgba(167, 167, 167, 0.5);
    border-left:1px solid rgba(167, 167, 167, 0.5);
    border-right:1px solid rgba(167, 167, 167, 0.5);
}

.caterer_menu p:nth-child(2n){
    background-color: rgba(167, 167, 167, 0.5);
}
.caterer_menu p:last-child {
    margin-bottom: 5px;
    border-bottom:1px solid rgba(167, 167, 167, 0.5);
}


.caterer_menu p:hover {
    background-color: grey;
    color: black;
}
/*================================================ side content =====================================*/
.side_content {
    min-height: 200px;
    width: 25%;
    margin-right: 5px;
    margin-top: 20px;
    /*padding: 10px;*/
    border: 1px solid rgba(0, 0, 255, 0.6);
    float: right;
    clear: right;
}
table, th, td {
    /*border: 1px solid black;*/
    border-collapse: collapse;
    padding: 3px 10px;
    /*width:100%;*/
    text-align: center;
}

table#table01 {
    width: 100%;
    /*background-color: #f1f1c1;*/
    background-color: rgba(0, 0, 255, 0.6);
    /*color:white;*/
}

.table tr:nth-child(2n+2) {
    background-color: white;
    color: black;
}
.table tr:hover {
    background-color: rgba(0, 0, 255, 0.9);
    color: white;
}

.table.table_current_order {
    margin: 5px auto;
    width: 75%;
    background-color: #bfbfbf;
    /*background-color: rgba(0, 0, 255, 0.6);*/
    /*color:white;*/
}

.table_current_order th {
    /*border: 1px solid blue;*/
    background-color: blue;
    font-size: 1.3em;
    color: white;
    border-collapse: collapse;
    border-bottom: 1px solid white;
    padding: 3px 10px;
    /*width:100%;*/
    text-align: center;

}


.table_current_order tr:nth-child(2n+2) {
    background-color: white;
    color: black;
}

.table_current_order tr:hover {
    background-color: rgba(0, 0, 255, 0.9);
    color: white;
}

#notification table tr td {
    font-size: 1.15em;
}


/*========================================auth_caterer=======================================*/

.table.table_pending_order {
    margin: 5px auto;
    width: 100%;
    background-color: #bfbfbf;
    /*background-color: rgba(0, 0, 255, 0.6);*/
    /*color:white;*/
}

.table_pending_order th {
    /*border: 1px solid blue;*/
    background-color: blue;
    font-size: 1.3em;
    color: white;
    border-collapse: collapse;
    border-bottom: 1px solid white;
    padding: 3px 10px;
    /*width:100%;*/
    text-align: center;

}


.table_pending_order tr:nth-child(2n+2) {
    background-color: white;
    color: black;
}

.table_pending_order tr:hover {
    background-color: rgba(0, 0, 255, 0.9);
    color: white;
}

/*===============middle=========================*/
.caterer_menu p {
    line-height: 12px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 5px;
}
.caterer_menu p span {
    margin: auto 0px;
    float: right;
}
.menu_img {
    display: inline;
    border: 1px solid blue;
    width: 12px;
    height: 12px;
    padding: 0px;
    margin: 0px;
}
.menu_img:hover {
    width: 15px;
    height: 15px;
}